<article class="article-wrapper">
    <h2>The Value of Money</h2>
    <section>
        <figure>
            <img src="./img/money-in-wallet.png" alt="description of image" /> 
            <figcaption>The Value of Money</figcaption>
         </figure>
        <section class="text-content">
            <p>The value of money is determined by the demand for it, just like the value of goods and services. There are three ways to measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future. </p>
            <p>For this reason, the value of money fluctuates throughout the trading day.12 The second method is the value of Treasury notes. They can be converted easily into dollars through the secondary market for Treasurys</p>
            <p>No matter how it's measured, the dollar's value declined from 2000 to 2011. That was due to a relatively low fed funds rate, a high federal debt, and a slow-growth economy. Since 2011, the U.S. dollar has risen in value despite these factors. Why? Most of the economies in the world had even slower growth. That made traders want to invest in the dollar as a safe haven. As a result, the dollar strengthened against the euro.</p>
        </section>
    </section>
    <hr>
</article>
<article class="article-wrapper">
    <h2>GMO Food</h2>
    <section>
        <figure>
            <img src="./img/gmo-tomato.png" alt="GMO Tomato" /> 
            <figcaption>GMO Tomato</figcaption>
         </figure>
         <section class="text-content">
            <p>Proponents of genetically modified crops say the technology is the only way to feed a warming, increasingly populous world. Critics say we tamper with nature at our peril. Who is right?</p>
            <p>The bulk of the science on GM safety points in one direction. Take it from David Zilberman, a U.C. Berkeley agricultural and environmental economist and one of the few researchers considered credible by both agricultural chemical companies and their critics. He argues that the benefits of GM crops greatly outweigh the health risks, which so far remain theoretical. The use of GM crops "has lowered the price of food,"" Zilberman says. "It has increased farmer safety by allowing them to use less pesticide. It has raised the output of corn, cotton and soy by 20 to 30 percent, allowing some people to survive who would not have without it. If it were more widely adopted around the world, the price [of food] would go lower, and fewer people would die of hunger."</p>
            <p>In the future, Zilberman says, those advantages will become all the more significant. The United Nations Food and Agriculture Organization estimates that the world will have to grow 70 percent more food by 2050 just to keep up with population growth. Climate change will make much of the world's arable land more difficult to farm. GM crops, Zilberman says, could produce higher yields, grow in dry and salty land, withstand high and low temperatures, and tolerate insects, disease and herbicides.</p>
        </section>
    </section>
    <hr>
</article>
<article class="article-wrapper">
    <h2>The View of World in 2100</h2>
    <section>
        <figure>
            <img src="./img/buildings.png" alt="City View" /> 
            <figcaption>City View</figcaption>
         </figure>
         <section class="text-content">
            <p>With global population set to reach seven billion people over the weekend, it may be time to start planning for what the world will look like in the coming years.</p>
            <p>Though most of us won't be around to see it, the United Nations has projected that our incredible population growth will level off at around 10 billion people by the year 2100.</p>
            <p>Increased urbanization will be one of the main ways the planet will sustain 10 billion people. There will be a lot of new cities, and mega-cities (cities with a population of over 20 million) will become more common.</p>
            <p>Possible candidates for mega-city status include: Beijing, Delhi, Jakarta, Mexico City, Mumbai, São Paulo, and Shanghai.</p>
        </section>
    </section>
    <hr>
</article>