<article class="portfolio">
    <h2>Portfolio</h2>
    <section class="row">
        <figure class="card">
            <img src="./img/mygreen-lifestyle.png" alt="My Green Lifestyle" /> 
            <figcaption>My Green Lifestyle</figcaption>
        </figure>
        <figure class="card">
            <img src="./img/nook-bookstore.png" alt="Nook Bookstore" /> 
            <figcaption>Nook Bookstore</figcaption>
        </figure>
        <figure class="card">
            <img src="./img/cuppa-cafe.png" alt="Cuppa Cafe" /> 
            <figcaption>Cuppa Cafe</figcaption>
        </figure>
        <figure class="card">
            <img src="./img/bits-and-bites-magazine.png" alt="Bits & Bites Magazine" /> 
            <figcaption>Bits & Bites Magazine</figcaption>
        </figure>
        <figure class="card">
            <img src="./img/cyber-security-poster.png" alt="Cyber Security Poster" /> 
            <figcaption>Cyber Security Poster</figcaption>
        </figure>
        <figure class="card">
            <img src="./img/air-pollution-poster.png" alt="Air Pollution Poster" /> 
            <figcaption>Air Pollution Poster</figcaption>
        </figure>
    </section>
</article>   